@charset "utf-8";
/*Global / Desktop View*/
.page-title {
  padding-top: 60px;
}
main {
  min-height: 1095px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto 30px auto;
  margin: 0 30px;
  text-align: left;
}
.column-left {
  grid-column: 1;
}
.column-right {
  grid-column: 3;
}
.banner {
  height: 80%;
  padding-top: 60px;
  width: 100%;
}
a {
  color: #551A8F;
  text-decoration: none;
}
.event-title {
  padding: 12px 0;
}
.event-icon {
  height: 25px;
  width: 25px;
}
.event-details {
  margin-left: 5px;
}
.no-events {
  font-family: 'Roboto', sans-serif;
  padding: 25% 25%;
  text-align: center;
  ;
}