@charset "utf-8";
/* Global / Desktop View */
.page-title {
  padding-top: 60px;
}
.middle-container {
  padding: 10px 100px;
}
.registration {
  font-size: 20px;
  padding-bottom: 50px;
}
.registration-content {
  margin: auto;
  width: 900px;
}
.column {
  float: left;
}
.left {
  width: 5%;
}
.middle {
  padding-left: 10px;
  width: 50%;
}
.right {
  text-align: center;
  width: 45%;
}
.middle-to-right {
  padding-left: 10px;
  width: 95%;
}
.row:after {
  clear: both;
  content: "";
  display: table;
  padding-bottom: 40px;
}
.step {
  float: left;
  font-size: 70px;
  font-weight: 900;
  margin-top: -18px;
}
.p1 {
  padding-bottom: 20px;
}
.p2 {
  font-weight: bold;
  padding: 20px 0 20px 40px;
}
.p3 {
  float: left;
  padding: 0 20px 0 40px;
}
.list {
  margin-left: 55px;
  padding-top: 10px;
}
.instruction-img {
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
.application-details-img {
  padding: 40px 0 20px 40px;
}